.App {
  text-align: center;
}

.matrix {
  margin: 10px auto;
  width: 150px;
}

.matrix-row {
  display: flex;
  flex-direction: row;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;

  border: 1px solid #000;
}

.cell-2 {
  background: #eee;
}

.cell-4 {
  background: #ccc;
}

.cell-8 {
  background: #ccaaaa;
}

.cell-16 {
  background: #eebbbb;
}

.cell-32 {
  background: #dd923c;
}

.cell-64 {
  background: #eedd88;
}

.cell-128 {
  background: #222;
  color: #fff;
}

.cell-256 {
  background: #000;
  color: #fff;
}
